body {
    background-color: #5da2f0;
  }
  
  h1 {
    font-style: italic;
    color: white;
    text-align: center;
  }
  h2{
    font-style: italic;
    color:bisque;
    text-align: center;
    
  }